# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Color Matching Game 2D.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Benjamin Hood\Documents\GitRepo\DGM3650Fall2023Unity\Color Matching Game 2D\.idea\.idea.Color Matching Game 2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
