# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Unit 4 Color Matching Game.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Benjamin Hood\Documents\GitRepo\DGM3650GameRepo\Unit 4 Color Matching Game\.idea\.idea.Unit 4 Color Matching Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
